@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
* {
	box-sizing: border-box;
	
}

body {
	margin: 0;
	padding: 0;
	background: #ffffff;
	 /* display: flex;
	justify-content: center;  */
	align-items: center;
	flex-direction: column;
	font-family: 'Lato', sans-serif;
	line-height: 1.5rem;	
}
h1,h2,h3,h4,h5,h6,span{
	padding: 0;
	margin: 0;
	font-size: 16px;
}

.input-box{
	padding: 10px;
	text-align: left;
	font-size: 14px;
}

.input-box input,
.input-box label,
.input-box button{
	display: block;
	width: 100%;
}

.input-box input,
.input-box button{
	background: rgb(231, 230, 230);
	border: none;
	border-radius: 50px;
	padding: 17px 15px;
	font-size: 14px;
	outline: none;	

}

.input-box button{
	cursor: pointer;
	text-align: center;
	outline: none;
	background: linear-gradient(142deg, rgba(0,44,196,1) 5%, rgba(0,180,169,1) 97%)
}
.input-box input:focus{
	border:none !important;
}

button{
	cursor: pointer;
	text-align: center;
    outline: none;
	 
}
/* Global Modal */
.modalBackground {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.24);
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
  
  }
  .devices {
	margin-left: auto;
	font-size: 12px;
	display: none;
	position: absolute;
	z-index: 1;
  }
  .devices span {
	font-family: Lato;
	font-size: 10px;
  }
  .os-icon {
	background: #eeeeee;
	padding: 5px 10px;
	margin: 5px;
	border-radius: 30px;
  }

  