.main-container{
    margin:5rem;
    width: 50%;
}
ul{
    list-style: none;
    gap: 0.5rem;
    
}
li{
    /* padding: 1rem; */
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: inset;
}